DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
RABBITMQ_URL=
JWT_PUBLIC_KEY="-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAs14eW2vYS6wu5af1FtiZAvQ6yjk7q+Pj71FJZK3Cya7cKVvb0AaU\ndbAZ8RCiMZ/APoj8kCSjlHLqLUgJr4yP0fuTS7WHhqSDst1QHPPjT+Gy4CzyqemR\nibwBtTfkGzjwpykKAjpc3Lf6NSus+KRBXrDXluuIhjXF559a2lLpe2ucDNTsYrwG\nlxkb/teY5jUVSwyVTzykAJ8HiFVe5lV7B65Kpmda0lqmUme+6t3cR+JMlYsPPdO+\nKP/0oCbn/ztPJx7f8S1cono0DSsXmsmFl+Ytg952QYtVaRNNdAxctZqRS7CfARVn\nPyi3Usv01QK+T7z5mSO3rOe4LTiYl7pso0e4XO1vYgooFk5yUbXpEhfTi4oITjCU\nHiE9MFhygEJpZ3pahikDpE8Z5EKvm9I4CDMtARvB+XYRor/ebupgxcd9JNwiXqDu\ny3KanWpaPYF8sDwxzxSf6B7HuIhVraX3kjf0wCg188dg6PztQXgr5FUMqgb8SZZ/\nHULrOy2yBK/3a+TsWwu4ZCKsIFQ7Hjlkr+GfVWE0Y+m2aeSPq/cpRFJCLonfbPDh\nY/XBjmkoojecSCYfnoVRJFK7LB9ZEr3pk7/XPE1US+w959P1QnRAcBdploNVWg3M\nY0VYKF5hQgBtreeSrlCh02qYOBwRDSkcmZglEhbXSaCHsf4l5Pr9TKcCAwEAAQ==\n-----END RSA PUBLIC KEY-----\n"
